## Setup

In [1]:
from marketData import *
from utilityBasic import *
from utilityAdvanced import *

In [2]:
# Set API token programmatically
os.environ['DWAVE_API_TOKEN'] = 'DEV-e8972fd320fefdf057d6a44f51effd5a55f63141'

In [3]:
# Define the ticker symbol
ticker = "SERV"
df = fetch_data(ticker, '1y', '1h')
df

,Datetime,Open,High,Low,Close,Volume,Dividends,P/E,52W_High,52W_Low,Market_Cap,Bid,Ask
0,2024-04-18 09:30:00-04:00,4.7500,4.9600,3.080,3.2050,0,0.0,-14.666667,30.0,1.77,316702464,7.46,7.5
1,2024-04-18 10:30:00-04:00,3.1600,3.5500,3.090,3.1600,511599,0.0,-14.666667,30.0,1.77,316702464,7.46,7.5
2,2024-04-18 11:30:00-04:00,3.1750,3.2400,3.140,3.1700,154450,0.0,-14.666667,30.0,1.77,316702464,7.46,7.5
3,2024-04-18 12:30:00-04:00,3.1700,3.2894,3.030,3.1300,405955,0.0,-14.666667,30.0,1.77,316702464,7.46,7.5
4,2024-04-18 13:30:00-04:00,3.1190,3.2000,2.750,2.7600,415650,0.0,-14.666667,30.0,1.77,316702464,7.46,7.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
747,2024-09-20 11:30:00-04:00,7.6600,7.7250,7.580,7.5800,187498,0.0,-14.666667,30.0,1.77,316702464,7.46,7.5
748,2024-09-20 12:30:00-04:00,7.5900,7.6000,7.350,7.3900,427361,0.0,-14.666667,30.0,1.77,316702464,7.46,7.5
749,2024-09-20 13:30:00-04:00,7.3894,7.4200,7.240,7.2788,355832,0.0,-14.666667,30.0,1.77,316702464,7.46,7.5
750,2024-09-20 14:30:00-04:00,7.2750,7.3600,7.228,7.3499,227227,0.0,-14.666667,30.0,1.77,316702464,7.46,7.5
751,2024-09-20 15:30:00-04:00,7.3300,7.4900,7.325,7.4700,244998,0.0,-14.666667,30.0,1.77,316702464,7.46,7.5

## Basic Test

In [10]:
buy_signals, sell_signals = generate_signal_basic(df)

In [11]:
bqm = qubo_basic(buy_signals, sell_signals, df)

In [19]:
decisions = dwave_sampler_basic(bqm, 200)

In [20]:
df_test = df.drop([0])
df_test.rename(columns = {'Date':'Datetime'}, inplace=True)

In [21]:
results = backtest_basic(df_test, decisions)

In [22]:
results

                         Date  Portfolio Value         roi    buy_hold
1   2024-04-18 10:30:00-04:00       100.000000    0.000000  100.000000
2   2024-04-18 11:30:00-04:00       100.000000    0.000000  100.316455
3   2024-04-18 12:30:00-04:00        98.738172   -1.261828   99.050634
4   2024-04-18 13:30:00-04:00        98.738172   -1.261828   87.341769
5   2024-04-18 14:30:00-04:00        98.738172   -1.261828   96.044304
..                        ...              ...         ...         ...
747 2024-09-20 11:30:00-04:00       298.100921  198.100921  239.873409
748 2024-09-20 12:30:00-04:00       298.100921  198.100921  233.860749
749 2024-09-20 13:30:00-04:00       298.100921  198.100921  230.341766
750 2024-09-20 14:30:00-04:00       298.100921  198.100921  232.591759
751 2024-09-20 15:30:00-04:00       302.971998  202.971998  236.392392

[751 rows x 4 columns]

## Advanced Test - WIP

In [4]:
buy_signals, sell_signals = generate_advanced_signal(df)

In [6]:
bqm = qubo_advanced(buy_signals, sell_signals, df)

In [19]:
decisions = dwave_sampler_advanced(bqm, 100000)

In [21]:
df.rename(columns = {'Datetime':'Date'}, inplace=True)
min_length = min(len(df), len(decisions))
result_df = backtest(df.iloc[51:min_length], decisions[51:min_length])

KeyError: 'RSI'

In [16]:
result_df

                         Date  Portfolio Value       ROI
51  2023-10-02 11:30:00-04:00    100000.000000  0.000000
52  2023-10-02 12:30:00-04:00    100000.000000  0.000000
53  2023-10-02 13:30:00-04:00    100000.000000  0.000000
54  2023-10-02 14:30:00-04:00    100000.000000  0.000000
55  2023-10-02 15:30:00-04:00    100000.000000  0.000000
..                        ...              ...       ...
286 2023-11-16 15:30:00-05:00    102382.612854  2.382613
287 2023-11-17 09:30:00-05:00    102384.133179  2.384133
288 2023-11-17 10:30:00-05:00    102367.032715  2.367033
289 2023-11-17 11:30:00-05:00    102379.383179  2.379383
290 2023-11-17 12:30:00-05:00    102401.612854  2.401613

[240 rows x 3 columns]

In [12]:
df.tail()

,Date,Open,High,Low,Close,Volume,Dividends,Capital Gains,P/E,52W_High,52W_Low,Market_Cap,Bid,Ask,SMA20,SMA50,RSI,MACD,Signal
1751,2024-09-20 11:30:00-04:00,565.979980,568.000122,565.710022,567.950012,4603647,0.0,0.0,None,572.88,409.21,None,568.11,568.16,566.687207,562.240508,59.164686,2.102284,2.503188
1752,2024-09-20 12:30:00-04:00,567.909973,568.530029,567.669983,568.219971,5486097,0.0,0.0,None,572.88,409.21,None,568.11,568.16,566.966705,562.669307,58.477211,1.950446,2.392640
1753,2024-09-20 13:30:00-04:00,568.224976,568.645508,566.409973,566.619995,6995501,0.0,0.0,None,572.88,409.21,None,568.11,568.16,567.188605,563.023906,51.386603,1.681624,2.250437
1754,2024-09-20 14:30:00-04:00,566.599976,568.690002,566.090027,568.239990,7136365,0.0,0.0,None,572.88,409.21,None,568.11,568.16,567.445605,563.368556,56.197942,1.581075,2.116564
1755,2024-09-20 15:30:00-04:00,568.234985,569.309998,567.799988,568.099976,10705851,0.0,0.0,None,572.88,409.21,None,568.11,568.16,567.694104,563.663955,64.592957,1.473110,1.987873